<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actualizar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>

      <ion-card-title>Actualizar Categorias</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="categoriaForm" (ngSubmit)="update()">
        <ion-list>
          <ion-item>
            <ion-input type="text" formControlName="nombre" placeholder="Ingresar su nombre" label="Nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" formControlName="descripcion" placeholder="Ingresar una descripcion" label="Descripcion"></ion-input>
          </ion-item>

            <ion-button expand="block" type="submit" [disabled]="!categoriaForm.valid"  >
              Actualizar
            </ion-button>

        </ion-list>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
