<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>

      <ion-card-title>Crear Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="productoForm" (ngSubmit)="save()">
        <ion-list>
          <ion-item>
            <ion-input type="text" formControlName="nombre" placeholder="Ingresar su nombre" label="Nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" formControlName="descripcion" placeholder="Ingresar su descripcion" label="Descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="number" formControlName="cantidad" placeholder="Ingresar la cantidad" label="Cantidad"></ion-input>
          </ion-item>
          <ion-item>

            <ion-item>
              <ion-label>Categorias</ion-label>
              <ion-select  formControlName="id_categoria" placeholder="Select Categoria" *ngFor="let categoria of categorias">
                <ion-select-option value="{{categoria.id}}">{{categoria.nombre}}</ion-select-option>

              </ion-select>
            </ion-item>
          </ion-item>


            <ion-button expand="block" type="submit" [disabled]="!productoForm.valid"  >
              Registrar
            </ion-button>

        </ion-list>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
